src/main/mule/p-test-rjaencobos.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="p-test-rjaencobos-main">
        <http:listener config-ref="p-test-rjaencobos-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="p-test-rjaencobos-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="p-test-rjaencobos-console">
        <http:listener config-ref="p-test-rjaencobos-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="p-test-rjaencobos-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:p-test-rjaencobos-config" doc:id="69125d05-821c-4c8c-8210-3c8f8fd012d5">
        <http:request method="GET" doc:name="Request" doc:id="efd83c28-46c5-4a83-b4e6-4331376435f3" config-ref="HTTP_Request_configuration" path="${system.path}">
            <http:headers><![CDATA[#[{
	"client_id": Mule::p("secure::sys.auth.client_id"),
	"client_secret": Mule::p("secure::sys.auth.client_secret")
}]]]></http:headers>
        </http:request>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="aac03ebb-7e94-4dba-ba3f-3a0fa7f8a16a" variableName="accounts"/>
    </flow>
    <flow name="get:\combine:p-test-rjaencobos-config">
		<http:listener doc:name="Listener" doc:id="c7b3c054-66e4-4927-b7ac-4c2ad5170b33" config-ref="p-test-rjaencobos-httpListenerConfig" path="/combine"/>
		<flow-ref doc:name="Flow Reference" doc:id="1f440083-5362-4639-a43f-ef441b6fffca" name="get:\accounts:p-test-rjaencobos-config"/>
		<flow-ref doc:name="Flow Reference" doc:id="64e0c4a1-f740-4536-a7fd-5b5ce657f76b" name="get:\contacts:p-test-rjaencobos-config"/>
		<ee:transform doc:name="Transform Message" doc:id="a7cb0037-5a32-41be-bbcf-e900bb510d8d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var accounts = vars.accounts
var contacts = vars.contacts
---
accounts map ((account) -> {
    accountId: account.Id,
    accountName: account.Name,
    industry: account.Industry,
    description: account.Description,
    billingStreet: account.BillingStreet,
    accountNumber: account.AccountNumber,
    contacts: contacts filter ((contact) -> contact.AccountId == account.Id) map ((contact) -> {
        contactId: contact.Id,
        contactName: contact.Name,
        lastName: contact.LastName,
        firstName: contact.FirstName,
        salutation: contact.Salutation,
        mailingStreet: contact.MailingStreet
    })
})
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\contacts:p-test-rjaencobos-config" doc:id="b2988fb7-b6f8-434b-bf9b-1b496055e918">
		<http:request method="GET" doc:name="Request" doc:id="cb43d548-5feb-43bc-95da-bd39fbcb8e51" config-ref="HTTP_Request_configuration" path="${system.path2}" >
			<http:headers ><![CDATA[#[{
	"client_id": Mule::p("secure::sys.auth.client_id"),
	"client_secret": Mule::p("secure::sys.auth.client_secret")
}]]]></http:headers>
		</http:request>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="95ba292b-5a9e-4753-b700-c480b009f496" variableName="contacts"/>
    </flow>
</mule>
